{% load static %}
<!-- templates/admin_dash.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Admin Dashboard</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        table, th, td {
            border: 1px solid black;
        }
        th, td {
            padding: 8px;
            text-align: left;
        }
        th {
            background-color: #f2f2f2;
        }
    </style>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gradient-to-r from-gray-800  to-blue-900 text-white container mx-auto">
    <h1 class="text-3xl pt-4">Admin Dashboard</h1>
    <table>
        <thead>
            <tr class="text-gray-950">
                <th>Username</th>
                <th>Email</th>
                <th>Telephone</th>
                <th>Country</th>
                <th>Bitcoin Address</th>
                <th>Ethereum Address</th>
                <th>Bonus</th>
                <th>Profit</th>
                <th>Total</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.profile.tel }}</td>
                <td>{{ user.profile.country }}</td>
                <td>{{ user.profile.bitcoin_address }}</td>
                <td>{{ user.profile.etherum_address }}</td>
                <td>{{ user.profile.bonus }}</td>
                <td>{{ user.profile.profit }}</td>
                <td>{{ user.profile.total }}</td>
                <td><a href="{% url 'Onboarding:edit_user' user.id %}">Edit</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
