{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register  |   Crest Alpha Trade</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gradient-to-r from-gray-800  to-blue-900">
    <div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
        <div class="sm:mx-auto sm:w-full sm:max-w-sm">
        <img class="mx-auto h-10 w-auto" src="{% static 'Digital_World__1_-removebg-preview.png' %}" alt="Your Company">
        <h2 class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-white">Create an Account</h2>
        </div>
        <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
    <form method="POST" action="">
    {% csrf_token %}
    {% for field in form %}
        <div class="mt-2"> <!-- Add margin top for spacing between fields -->
            <label for="{{ field.id_for_label }}" class="block text-sm font-medium leading-6 text-white"> {{ field.label }} </label>
            {{ field }} <!-- Render the form field -->
            {% if field.errors %}
                <div class="text-red-500">{{ field.errors }}</div> <!-- Display field errors if any -->
            {% endif %}
        </div>
    {% endfor %}
    <input type="submit" class="mt-4 block w-full cursor-pointer rounded-md bg-indigo-600 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"> <!-- Submit button with styles -->
</form>

    <p class="mt-10 text-center text-sm text-white">
        Already have an account?
        <a href="{% url 'Onboarding:Login' %}" class="font-semibold leading-6 text-indigo-400 hover:text-blue-600">Sign in instead</a>
    </p>
    </div>
</div>
</body>
</html>