{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'img2/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'img2/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'img2/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'img2/site.webmanifest' %}">
    <title>Transaction | Fintex Ground Trade</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
    <style>
      .main-content {
          padding-left: 0; /* Adjusted to 0 for responsiveness */
      }

      @media (min-width: 1024px) {
          .main-content {
              padding-left: 320px;
          }
          .sidebar {
              left: 0; /* Adjusted to 0 for responsiveness */
          }
}
@media (max-width: 1023px) {
  .main-content .title .account {
        display: none;
    }
}

@media (max-width: 1024px) {
   #bill .bill .bill-body {
      flex-direction: column;
    }
    #bill .bill .bill-body .balance {
      margin: 2.5rem;
    }
    #bill .bill .bill-body .balance .balance-container {
      width: 100%;
    }
    #bill .bill .bill-body .tradingview-widget-container {
      width: 100%;
      padding: 20px;
    }
  }
  </style>
</head>
<body class="bg-zinc-800 scroll-smooth container mx-auto">
    <header class="md:bg-transparent">
        <!-- Header content here -->
    </header>
    
    <main class="main-content">
        <section id="hero" data-aos="fade-up" data-aos-once="true">
           <div class="title lg:flex lg:justify-between container p-5" style="border-bottom: 1px solid gray;">
            <div class="username">
                <h1 class="text-white lg:text-left text-right text-2xl  font-semibold font-sans md:text-3xl"> <span class="text-green-600">Welcome</span> {{ request.user }} 👋,</h1>
               </div>
              
                <button class="join bg-white text-green-700 px-5 md:px-4 lg:px-5  rounded-[20px] md:rounded-[15px] lg:rounded-[20px] w-30  text-[15px] md:text-[12px] lg:text-[15px] font-bold hover:bg-green-700  hidden hover:text-white mt-5 ">Trade Now</button>
       
               <div class="account lg:flex">
               <div class="coin px-3 lg:flex flex-row">
                <div class="img px-3  hidden lg:block ">
                <img class="bg-white rounded-full hidden lg:block" src="{% static 'icons8-dollar-coin-50.png' %}" alt="">
                </div>
                <div class="details">
                <h2 class="text-white text-xl font-bold font-mono">Real Account</h2>
                <h3 class="text-lime-400">{{ user.profile.total }} USD</h3>
               
                </div>
               </div>
               <div class="user px-3">
                <img src="{% static 'icons8-profile-picture-64.png' %}" alt="">
               </div>
               </div>
           </div>
        </section>


        <div class="container mx-auto px-4">
          <h2 class="text-2xl text-white font-semibold mt-4 mb-6">Create Transaction</h2>
          <form method="post">
              {% csrf_token %}
              <div class="mb-8">
                  <label class="block text-sm font-medium text-white">{{ form.Select_Balance_Type.label }}</label>
                  {{ form.Select_Balance_Type }}
              </div>
              <div class="mb-8">
                  <label class="block text-sm font-medium text-white">{{ form.Select_Assets.label }}</label>
                  {{ form.Select_Assets }}
              </div>
              <div class="mb-8">
                <label class="block text-sm font-medium text-white">{{ form.Wallet_Address.label }}</label>
                {{ form.Wallet_Address }}
            </div>
            <div class="mb-8">
              <label class="block text-sm font-medium text-white">{{ form.Amount.label }}($)</label>
              {{ form.Amount }}
          </div>
              <button type="submit" class="btn btn-primary bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded">Process Withdrawal</button>
          </form>
          {% for message in messages %}
      <h1 class="text-[20px] text-red-500 font-sans font-semibold"> {{ message }}</h1>
   {% endfor %}
      </div>
        
        
</main>
    <span class="absolute text-white text-4xl top-5 left-4 cursor-pointer" onclick="Openbar()">
        <i class="bi bi-filter-left px-2 bg-green-900 rounded-md"></i>
    </span>

    <!-- Sidebar HTML -->
    <div class="sidebar fixed top-0 bottom-0 lg:left-0 left-[-300px] duration-1000 p-5 w-[300px] md:w-[300px]  text-center bg-zinc-900 shadow h-screen">
        <!-- Sidebar content here -->
        <div class="text-gray-100 text-xl">
            <div class="p-2.5 mt-1 flex justify-around items-center rounded-md ">
              <img src="{% static '1-removebg-preview.png' %}" class="w-[80px]" alt="Your Company">
              <i class="bi bi-x  cursor-pointer lg:hidden" onclick="Openbar()"></i>
            </div>
        <div>
              <a href="{% url 'Onboarding:dashboard' %}"> 
              <div class="p-2.5 mt-2 flex items-center rounded-md px-4 duration-300 cursor-pointer  hover:bg-green-600">
                <i class="bi bi-house-door-fill"></i>
              <span class="text-[15px] ml-4 text-gray-200">Dashboard</span>
              </div></a>
              <a href="{% url 'Onboarding:Transaction' %}"><div class="p-2.5 mt-2 flex items-center rounded-md px-4 duration-300 cursor-pointer bg-green-600">
                <img class="w-[25px]" src="{% static 'icons8-transaction-50.png' %}" alt="">
                  <span class="text-[15px] ml-4 text-gray-200">Transaction</span>
                </div></a>
              <hr class="my-4 text-gray-600">
              
              <div class="p-2.5 mt-2 flex items-center rounded-md px-4 duration-300 cursor-pointer  hover:bg-green-600">
                <img class="w-[25px]" src="{% static 'icons8-settings-50.png' %}" alt="">
                <div class="flex justify-between w-full items-center" onclick="dropDown()">
                  <span class="text-[15px] ml-4 text-gray-200">Settings</span>
                  <span class="text-sm rotate-180" id="arrow">
                    <i class="bi bi-chevron-down"></i>
                  </span>
                </div>
              </div>
              <div class=" leading-7 text-left text-sm font-thin mt-2 w-4/5 mx-auto" id="submenu">
                <a href="{% url 'Onboarding:SettingsInfo' %}"><h1 class="cursor-pointer p-2 hover:bg-gray-700 rounded-md mt-1">Personal Data</h1></a>
                <!--<h1 class="cursor-pointer p-2 hover:bg-gray-700 rounded-md mt-1">Security</h1>-->
              </div>
              <a href="{% url 'Onboarding:LogoutUser' %}"><div class="p-2.5 mt-3 flex items-center rounded-md px-4 duration-300 cursor-pointer  hover:bg-green-600">
                <i class="bi bi-box-arrow-in-right"></i>
             <span class="text-[15px] ml-4   text-gray-200">Logout</span>
              </div></a>
      
            </div>
          </div>
    </div>
    <script>
        function dropDown() {
          document.querySelector('#submenu').classList.toggle('hidden')
          document.querySelector('#arrow').classList.toggle('rotate-0')
        }
        dropDown()
    
        function Openbar() {
          document.querySelector('.sidebar').classList.toggle('left-[-300px]')
        }
    </script>
</body>
</html>
